<% if @pedido_show_type == 'user' %>

<div class="wrapper-checkout">
  <div class="container-checkout">

    <h3 class="pedido-index-user-title">
      Active orders
    </h3>

    <% if @pedidos_em_andamento.length == 0 %>
      There are no active orders
    <% end %>

    <% pedido_count = 0 %>

    <% @pedidos_em_andamento.each do |pedido| %>
      <div class="pedido-index-user-cadapedido-header <%= "pedido-header#{pedido_count}" %> pedido-header-andamento">
        <h3 class="pedido-index-user-pedido-id">
          Order #<%= "#{pedido.id}" %>
        </h3>
        <h3 class="pedido-index-user-pedido-status" style="text-transform: capitalize;">
          <strong>Situation</strong> <br>
          <%= "Preparation" if pedido.status == 'em preparo' %>
          <%= "Out for delivery" if pedido.status == 'saiu para entrega' %>
        </h3>
        <h3 class="pedido-index-user-pedido-horario">
          <strong>Ordered at</strong> <br>
          <%= "#{pedido.horario.localtime.strftime("%k:%M")}" %>
        </h3>
        <h3 class="pedido-index-user-pedido-tempoestimado">
          <strong>Delivery estimate</strong> <br>
          <%= "#{((pedido.horario + 60*30 - Time.now)/60).round(0)} minutes" %>
        </h3>
      </div>
      <div class="pedido-index-user-cadapedido-body <%= "pedido-body#{pedido_count}" %>" style="display: none;">

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Order total:Total do pedido</strong>
          $<% if pedido.precototal.to_s.split('.')[1].length == 2 %>
            <%= pedido.precototal %>
          <% else %>
            <%= pedido.precototal %>0
          <% end %>
        </h5>

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Delivery address:</strong>
          <% endereco = Endereco.find(pedido.enderecoid) %>
          <%= endereco.rua %>, <%= endereco.numero %>, <%= endereco.comp %> - <%= endereco.estado %>, <%= endereco.cidade %>
        </h5>

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Items:</strong>
        </h5>

        <ul class="pedido-index-user-cadapedido-body-lista">
          <% pedido.pedidoburgers.each do |burger| %>
            <li class="pedido-index-user-cadapedido-body-item">
              <%= burger.burger %>
            </li>
          <% end %>
          <% pedido.pedidobebidas.each do |bebida| %>
            <li class="pedido-index-user-cadapedido-body-item">
              <%= bebida.bebida %> x <%= bebida.quantidade %>
            </li>
          <% end %>
        </ul>
      </div>
      <% pedido_count += 1 %>
    <% end %>


    <h3 class="pedido-index-user-title">
      Past orders
    </h3>

    <% if @pedidos_concluidos.length == 0 %>
      There are no past orders
    <% end %>

    <% @pedidos_concluidos.each do |pedido| %>
      <div class="pedido-index-user-cadapedido-header <%= "pedido-header#{pedido_count}" %> pedido-header-concluido">
        <h3 class="pedido-index-user-pedido-id">
          Order #<%= "#{pedido.id}" %>
        </h3>
        <h3 class="pedido-index-user-pedido-status" style="text-transform: capitalize;">
          <strong>Status</strong> <br>
          <%= "#{pedido.status}" %>
        </h3>
        <h3 class="pedido-index-user-pedido-horario">
          <strong>Date and time</strong> <br>
          <%= "#{pedido.horario.localtime.strftime("%d/%m/%y")}" %>, <%= "#{pedido.horario.localtime.strftime("%k:%M")}" %>
        </h3>
      </div>
      <div class="pedido-index-user-cadapedido-body <%= "pedido-body#{pedido_count}" %>" style="display: none;">

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Order total:</strong>
          $<% if pedido.precototal.to_s.split('.')[1].length == 2 %>
            <%= pedido.precototal %>
          <% else %>
            <%= pedido.precototal %>0
          <% end %>
        </h5>

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Delivery address:</strong>
          <% endereco = Endereco.find(pedido.enderecoid) %>
          <%= endereco.rua %>, <%= endereco.numero %>, <%= endereco.comp %> - <%= endereco.estado %>, <%= endereco.cidade %>
        </h5>

        <h5 class="pedido-index-user-cadapedido-body-informacao">
          <strong>Itens:<mstrong>
        </h5>

        <ul class="pedido-index-user-cadapedido-body-lista">
          <% pedido.pedidoburgers.each do |burger| %>
            <li class="pedido-index-user-cadapedido-body-item">
              <%= burger.burger %>
            </li>
          <% end %>
          <% pedido.pedidobebidas.each do |bebida| %>
            <li class="pedido-index-user-cadapedido-body-item">
              <%= bebida.bebida %> x <%= bebida.quantidade %>
            </li>
          <% end %>
        </ul>
      </div>
      <% pedido_count += 1 %>
    <% end %>

  </div>
</div>



<% elsif @pedido_show_type == 'admin' %>







<% end %>

