<% if @pedidos_em_aberto %>
  <div class="alert-pedidosemaberto text-center">
    <h4 class="alert-pedidosemaberto-text">
      Você possui pedidos em andamento
      <%= link_to "(Ver pedidos)", pedido_index_path %>
    </h4>
  </div>
<% end %>

<div class="wrapper-cardapio">
  <div class="container-cardapio">
    <div class="container-cardapio-lanches">
      <h1 class="cardapio-title-1">
        Lanches
      </h1>

      <div class="row">
        <% @lanches.each do |lanche| %>
          <%= link_to(pedidoburger_path + "?burger=#{lanche.nome}", class: "burger-card-link") do %>
            <div class="col-xs-12 col-md-6">
              <div class="burger-card">
                <div class="burger-card-picture" style="background-image: url( <%= lanche.picture_url %> );">
                </div>
                <div class="burger-card-description">
                  <div class="burger-card-nome">
                    <%= lanche.nome %>
                  </div>
                  <div class="burger-card-ingredientes">
                    <% if lanche.nome != 'x-tudo-real' %>
                      <% lanche.ingredientes_base.each do |ingrediente| %>
                        <% if ingrediente != lanche.ingredientes_base.last %>
                          <%= ingrediente %>,
                        <% else %>
                          <%= ingrediente %>
                        <% end %>
                      <% end %>
                    <% else %>
                      Literalmente tudo
                    <% end %>
                  </div>
                  <div class="burger-card-preco">
                    <% if lanche.preco_base.to_s.split('.')[1].length == 2 %>
                      $<%= lanche.preco_base %>
                    <% else %>
                      $<%= lanche.preco_base %>0
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="container-cardapio-bebidas">
      <h1 class="cardapio-title-1">
        Bebidas
      </h1>

      <div class="row">
        <% bebida_counter = 0 %>
        <% @bebidas_soft.each do |bebida| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="bebida-card">
              <div class="bebida-card-picture" style="background-image: url( <%= bebida.picture_url %> );">
              </div>
              <div class="bebida-card-description">
                <div class="bebida-card-nome">
                  <%= bebida.nome %>
                </div>
                <div class="bebida-card-preco">
                  <% if bebida.preco_base.to_s.split('.')[1].length == 2 %>
                    $<%= bebida.preco_base %>
                  <% else %>
                    $<%= bebida.preco_base %>0
                  <% end %>
                </div>
                <h4 class="bebida-card-preco-hidden" style="display: none;"> <%= bebida.preco_base %></h4>
                <button type="button" class="btn btn-primary adicionar-bebida-btn" data-toggle="modal" data-target="<%= "#bebida-modal-#{bebida_counter}" %>">
                  Adicionar
                </button>
              </div>
            </div>

            <div class="modal fade" id="<%= "bebida-modal-#{bebida_counter}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Adicionar ao carrinho: <%= bebida.nome %></h4>
                  </div>
                  <div class="modal-body">
                    <div class="bebida-modal-flex">
                      <div class="bebida-modal-picture" style="background-image: url( <%= bebida.picture_url %> );">
                      </div>
                      <div class="bebida-modal-quantidade">
                        <h4>Quantidade:</h4>
                        <div class="bebida-modal-quantidade-controller">
                          <i class="fas fa-minus-circle bebida-modal-quantidade-controller-minus"></i>
                          <div class="bebida-modal-quantidade-controller-input">1</div>
                          <i class="fas fa-plus-circle bebida-modal-quantidade-controller-plus"></i>
                        </div>
                        <h4>Total: <span class="bebida-modal-valor-total"></span></h4>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <ul class="list-inline">
                      <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button></li>
                      <li>
                      <form action="/pedidobebida" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <%= hidden_field_tag :bebida, bebida.nome %>
                        <input type="integer" value = 1 name="bebidaquantidade" class="bebida-quantidade-input" style="display: none;">
                        <input type="submit" id="comprar-burger-btn" class="btn btn-primary bebida-adicionar-btn" value="Adicionar">
                      </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% bebida_counter += 1 %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-carrinho">

    <div class="container-carrinho-header">
      <h1 class="carrinho-title">
        &nbsp;&nbsp;Seu pedido
      </h1>
      <div class="carrinho-total">
        <% if @carrinho_total != 0 %>
          <% if @carrinho_total.to_s.split('.')[1].length == 2 %>
            <h2 class="carrinho-total-preco">$ <%= @carrinho_total %> </h2>
          <% else %>
            <h2 class="carrinho-total-preco">$ <%= @carrinho_total %>0 </h2>
          <% end %>
        <% else %>
          <h2 class="carrinho-total-preco">$ 0.00 </h2>
        <% end %>

      </div>
    </div>

    <h2 class="carrinho-subtitle">
      &nbsp;
      <img src="https://static.thenounproject.com/png/153732-200.png" alt="" style="width: 50px;">
      Lanches
    </h2>

    <div class="row carrinho-conteudo" style="">
      <div class="col-xs-12">
        <% @carrinho_burgers.each do |burger| %>
          <div class="carrinho-item-burger">
            <div class="carrinho-burger-header">
              <h2 class="carrinho-burger-name"> <%= burger.burger %> </h2>
              <% if burger.preco.to_s.split('.')[1].length == 2 %>
                <h2 class="carrinho-burger-preco">$ <%= burger.preco %> </h2>
              <% else %>
                <h2 class="carrinho-burger-preco">$ <%= burger.preco %>0 </h2>
              <% end %>
              <h2 class="carrinho-burger-excluir">
                <%= link_to pedidoburger_path + "/#{burger.id}",
                  method: :delete,
                  data: { confirm: "Tem certeza que deseja exluir #{burger.burger}?" } do %>
                    <i class="fas fa-times-circle"></i>
                  <% end %>
              </h2>
            </div>
            <div class="carrinho-item-burger-ingredientes">
              <% (0..Ingrediente.all.length).to_a.each do |num| %>
                <% if burger.quantidades[num] == '1' %>
                  <div class="carrinho-item-burger-ingrediente">
                    <%= burger.ingredientes[num] %> (Normal)
                  </div>
                <% elsif burger.quantidades[num] == '2' %>
                  <div class="carrinho-item-burger-ingrediente">
                    <%= burger.ingredientes[num] %> (Extra)
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <h2 class="carrinho-subtitle">
        &nbsp;&nbsp;
        <img src="https://static.thenounproject.com/png/583455-200.png" alt="" style="width: 50px;">
        Bebidas
      </h2>

      <div class="col-xs-12">
        <% @carrinho_bebidas.each do |bebida| %>
          <div class="carrinho-item-bebida">
            <div class="carrinho-bebida-header">
              <h2 class="carrinho-bebida-nome">
                <%= bebida.bebida %> <br>x <%= bebida.quantidade %>
              </h2>
              <h2 class="carrinho-bebida-preco-cont">
                <% if bebida.preco.to_s.split('.')[1].length == 2 %>
                  <h2 class="carrinho-bebida-preco">$ <%= bebida.preco %> </h2>
                <% else %>
                  <h2 class="carrinho-bebida-preco">$ <%= bebida.preco %>0 </h2>
                <% end %>
              </h2>
              <h2 class="carrinho-burger-excluir">
                <%= link_to pedidobebida_path + "/#{bebida.id}",
                  method: :delete,
                  data: { confirm: "Tem certeza que deseja exluir #{bebida.bebida}?" } do %>
                    <i class="fas fa-times-circle"></i>
                  <% end %>
              </h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="concluir-compra-btn-box text-center">
      <%= link_to "/addresspick?possuiendereco=#{@carrinho.enderecoid.nil?}" do %>
        <button class="btn btn-success concluir-pedido-btn"> Concluir pedido </button>
      <% end %>
    </div>

  </div>
</div>
