<div class="wrapper-checkout">
  <div class="container-checkout">

    <h2 class="checkout-page-title">Your order</h2>

    <h2 class="carrinho-subtitle text-center">
      &nbsp;
      <img src="https://static.thenounproject.com/png/153732-200.png" alt="" style="width: 50px;">
      Burgers
    </h2>

    <div class="carrinho-conteudo-checkout" style="">
      <ul class="carrinho-lista-lanches">
        <% @carrinho_burgers.each do |burger| %>
          <li class="carrinho-lista-cadalanche">
            <h4 class="carrinho-lista-cadalanche-texto">
              <span class="carrinho-lanche-nome-checkout"><strong> <%= burger.burger %> </strong>
              ($
                <% if burger.preco.to_s.split('.')[1].length == 2 %>
                  <%= burger.preco %>
                <% else %>
                  <%= burger.preco %>0
                <% end %>
              ) - </span>
              <span class="carrinho-lista-cadalanche-ingredientes">
              <% (0..Ingrediente.all.length).to_a.each do |num| %>
                <% if burger.quantidades[num] == '1' %>
                  <%= burger.ingredientes[num] %> (Normal)
                <% elsif burger.quantidades[num] == '2' %>
                  <%= burger.ingredientes[num] %> (Extra)
                <% end %>

                <% if (num + 1..Ingrediente.all.length).to_a.select { |item| burger.quantidades[item] == '1' || burger.quantidades[item] == '2'}.length > 0 && burger.quantidades[num] != '0' %>
                  <%= ',' %>
                <% end %>
              <% end %>
              </span>

              &nbsp;

              <%= link_to pedidoburger_path + "/#{burger.id}?redir=checkout",
                method: :delete,
                data: { confirm: "Tem certeza que deseja exluir #{burger.burger}?"} do %>
                  <span class="checkout-excluirlanche">Remove</span>
              <% end %>
            </h4>
          </li>
        <% end %>
      </ul>
    </div>


    <h2 class="carrinho-subtitle text-center">
      &nbsp;&nbsp;
      <img src="https://static.thenounproject.com/png/583455-200.png" alt="" style="width: 50px;">
      Drinks
    </h2>

    <div class="carrinho-conteudo-checkout carrinho-conteudo-checkout-bebidas" style="">
      <ul class="carrinho-lista-lanches">
        <% @carrinho_bebidas.each do |bebida| %>
          <li class="carrinho-lista-cadalanche">
            <h4 class="carrinho-lista-cadalanche-texto">
              <span class="carrinho-lanche-nome-checkout"><strong> <%= bebida.bebida %> x <%= bebida.quantidade %> </strong>
              ($
                <% if bebida.preco.to_s.split('.')[1].length == 2 %>
                  <%= bebida.preco %>
                <% else %>
                  <%= bebida.preco %>0
                <% end %>
              ) </span>

              &nbsp;

              <%= link_to pedidobebida_path + "/#{bebida.id}?redir=checkout",
                method: :delete,
                data: { confirm: "Tem certeza que deseja exluir #{bebida.bebida}?"} do %>
                  <span class="checkout-excluirlanche">Remove</span>
              <% end %>
            </h4>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="checkout-total-cost">
      <h4 class="checkout-total-text">
        <strong>Order total:</strong> $
        <% if (@carrinho_total == 0) %>
          0.00
        <% else %>
          <% if @carrinho_total.to_s.split('.')[1].length == 2 %>
            <%= @carrinho_total %>
          <% else %>
            <%= @carrinho_total %>0
          <% end %>
        <% end %>
      </h4>

      <h4 class="checkout-endereco-entrega">
        <strong>Delivery address:</strong>
        <%= @endereco.rua %>, <%= @endereco.numero %>, <%= @endereco.comp %> - <%= @endereco.estado %>, <%= @endereco.cidade %>
        <%= link_to '(Change)', addresspick_path, class: 'alterar-endereco' %>
      </h4>
    </div>

    <div class="checkout-options text-center">
      <%= link_to pedido_path(@carrinho, order: "concluir", precototal: "#{@carrinho_total}"), class: "checkout-btn", method: :patch do %>
        <button class="btn btn-proceedcheckout"> Place order </button>
      <% end %>
      <%= link_to cardapio_path, class: "checkout-btn" do %>
        <button class="btn btn-returntostore"> Back to shop </button>
      <% end %>
    </div>

  </div>
</div>
