<div class="wrapper-pedidoburger">
  <div class="container-pedidoburger">

    <h1 class="pedidoburger-title">Personalize seu lanche</h1>

    <div class="burger-card">
      <div class="burger-card-picture" style="background-image: url('https://www.tasteofhome.com/wp-content/uploads/2017/10/exps28800_UG143377D12_18_1b_RMS-696x696.jpg');">
      </div>
      <div class="burger-card-description">
        <div class="burger-card-nome">
          <%= @burger.nome %>
        </div>
        <div class="burger-card-ingredientes">
          <% @burger.ingredientes_base.each do |ingrediente| %>
            <% if ingrediente != @burger.ingredientes_base.last %>
              <%= ingrediente %>,
            <% else %>
              <%= ingrediente %>
            <% end %>
          <% end %>
        </div>
        <div class="burger-card-preco-build">
          <div class="burger-card-preco-build-base">
            <% if @burger.preco_base.to_s.split('.')[1].length == 2 %>
              $<%= @burger.preco_base %>
            <% else %>
              $<%= @burger.preco_base %>0
            <% end %>
          </div>
          <div class="burger-card-preco-build-extra">
            +0.00
          </div>
        </div>
      </div>
    </div>

    <div class="lista-ingredientes">
      <h1 class="pedidoburger-ingrediente-categoria-title">Carnes</h1>
      <% @ingredientes_carne.each do |ing| %>
        <div class="cada-ingrediente ingrediente-carne">
          <h2 class="ingrediente-nome">
            <%= ing.nome %>
          </h2>
          <div class="ingrediente-quantidades">

            <% if !@ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[0] %> </p>
              <p class="ingrediente-preco"> $0.00 </p>
            </div>

            <% if @ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[1] %> </p>
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <p class="ingrediente-preco"> $0.00 </p>
              <% else %>
                <p class="ingrediente-preco">
                  <% if ing.preco_normal.to_s.split('.')[1].length == 2 %>
                    $<%= ing.preco_normal %>
                  <% else %>
                    $<%= ing.preco_normal %>0
                  <% end %>
                </p>
              <% end %>
            </div>
            <div class="ingrediente-quantidade">
              <p> <%= ing.possiveis_quantidades[2] %> </p>
              <p class="ingrediente-preco">
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <% if ing.preco_extra.to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_extra %>0
                <% end %>
              <% else %>
                <% if (ing.preco_normal + ing.preco_extra).to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_normal + ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_normal + ing.preco_extra %>0
                <% end %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
    <% end %>

      <h1 class="pedidoburger-ingrediente-categoria-title">Queijos</h1>
      <% @ingredientes_queijo.each do |ing| %>
        <div class="cada-ingrediente ingrediente-carne">
          <h2 class="ingrediente-nome">
            <%= ing.nome %>
          </h2>
          <div class="ingrediente-quantidades">

            <% if !@ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[0] %> </p>
              <p class="ingrediente-preco"> $0.00 </p>
            </div>

            <% if @ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[1] %> </p>
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <p class="ingrediente-preco"> $0.00 </p>
              <% else %>
                <p class="ingrediente-preco">
                  <% if ing.preco_normal.to_s.split('.')[1].length == 2 %>
                    $<%= ing.preco_normal %>
                  <% else %>
                    $<%= ing.preco_normal %>0
                  <% end %>
                </p>
              <% end %>
            </div>
            <div class="ingrediente-quantidade">
              <p> <%= ing.possiveis_quantidades[2] %> </p>
              <p class="ingrediente-preco">
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <% if ing.preco_extra.to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_extra %>0
                <% end %>
              <% else %>
                <% if (ing.preco_normal + ing.preco_extra).to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_normal + ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_normal + ing.preco_extra %>0
                <% end %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <h1 class="pedidoburger-ingrediente-categoria-title">Salada</h1>
      <% @ingredientes_salada.each do |ing| %>
        <div class="cada-ingrediente ingrediente-carne">
          <h2 class="ingrediente-nome">
            <%= ing.nome %>
          </h2>
          <div class="ingrediente-quantidades">

            <% if !@ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[0] %> </p>
              <p class="ingrediente-preco"> $0.00 </p>
            </div>

            <% if @ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[1] %> </p>
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <p class="ingrediente-preco"> $0.00 </p>
              <% else %>
                <p class="ingrediente-preco">
                  <% if ing.preco_normal.to_s.split('.')[1].length == 2 %>
                    $<%= ing.preco_normal %>
                  <% else %>
                    $<%= ing.preco_normal %>0
                  <% end %>
                </p>
              <% end %>
            </div>
            <div class="ingrediente-quantidade">
              <p> <%= ing.possiveis_quantidades[2] %> </p>
              <p class="ingrediente-preco">
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <% if ing.preco_extra.to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_extra %>0
                <% end %>
              <% else %>
                <% if (ing.preco_normal + ing.preco_extra).to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_normal + ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_normal + ing.preco_extra %>0
                <% end %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <h1 class="pedidoburger-ingrediente-categoria-title">Molhos</h1>
      <% @ingredientes_molho.each do |ing| %>
        <div class="cada-ingrediente ingrediente-carne">
          <h2 class="ingrediente-nome">
            <%= ing.nome %>
          </h2>
          <div class="ingrediente-quantidades">

            <% if !@ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[0] %> </p>
              <p class="ingrediente-preco"> $0.00 </p>
            </div>

            <% if @ingredientes_base.include?(ing.nome) %>
              <div class="ingrediente-quantidade ingrediente-ativo">
            <% else %>
              <div class="ingrediente-quantidade">
            <% end %>
              <p> <%= ing.possiveis_quantidades[1] %> </p>
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <p class="ingrediente-preco"> $0.00 </p>
              <% else %>
                <p class="ingrediente-preco">
                  <% if ing.preco_normal.to_s.split('.')[1].length == 2 %>
                    $<%= ing.preco_normal %>
                  <% else %>
                    $<%= ing.preco_normal %>0
                  <% end %>
                </p>
              <% end %>
            </div>
            <div class="ingrediente-quantidade">
              <p> <%= ing.possiveis_quantidades[2] %> </p>
              <p class="ingrediente-preco"  >
              <% if (@ingredientes_base.include?(ing.nome)) %>
                <% if ing.preco_extra.to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_extra %>0
                <% end %>
              <% else %>
                <% if (ing.preco_normal + ing.preco_extra).to_s.split('.')[1].length == 2 %>
                  $<%= ing.preco_normal + ing.preco_extra %>
                <% else %>
                  $<%= ing.preco_normal + ing.preco_extra %>0
                <% end %>
              <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="pedidoburger-finalizar-btn text-center">
      <form action="/pedidoburger" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :burger, @burger.nome %>
        <% (@ingredientes_carne.length + @ingredientes_queijo.length + @ingredientes_salada.length + @ingredientes_molho.length).times do |count| %>
          <input type="text" name="ingrediente_quant_<%= count %>" class="ingrediente-quantidade-input" style="display: none;">
        <% end %>
        <% (@ingredientes_carne.length + @ingredientes_queijo.length + @ingredientes_salada.length + @ingredientes_molho.length).times do |count| %>
          <input type="text" name="ingrediente_nome_<%= count %>" class="ingrediente-nome-input" style="display: none;">
        <% end %>
        <input type="text" name="preco" class="preco-input" style="display: none;">
        <input type="submit" id="comprar-burger-btn" class="btn btn-primary burger-proceed-btn" value="Fazer pedido">
      </form>
    </div>
  </div>
</div>


