<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Burger Shop</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('favicon.png') %>

  </head>
  <body>

    <%= render 'shared/navbar' unless current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>

    <%= yield %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <p class="notice" style="display:none;"> <%= notice %></p>
    <p class="alert" style="display:none;"> <%= notice %></p>

  </body>
</html>
